*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

#black_box{
    width: 100%;
    height: 120px;
    background-color: black;
}

#black_box:hover{
    height: 200px;
    transition: 0.9s;
}

#black_box img{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-top:-90px;
}
#black_box nav > ul > li{
    display:inline-block;
}

#black_box nav ul li{
color:black;
font-size:22px;
margin-top:2.5%;
font-family: 'Nanum Gothic', sans-serif;
}

#main_right{
    width: 35%;
    height: 850px;
    float: right;
    background-image: url(right.jpg);
}

#main_right h3{
    font-family: 'Jaldi', sans-serif;
    font-size:70px;
    text-align: center;
    margin-top: 180px;
}


#button_myself{
    border:2px solid #838a8b;
    border-radius:3px;
    width: 170px;
    height: 50px;
    margin-left: 240px;
    margin-top:80px;
}

#button_myself p{
    font-family: 'Coming Soon', cursive;
    color:black;
    font-size:35px;
    text-align:center;
}

#button_myself:hover{
    background-color: #effbfd;
    transition:0.9s;
}

#black_box img{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-top:-90px;
}

#img_slide{
width: 65%;
height: 850px;
float: left;
margin:auto;
position:relative;
overflow:hidden;
z-index : 1;
}

#img_slide div
{
width:100%;
height:100%;
left:100%;
position:absolute;
}

#img_slide div:nth-child(1){
    left:0;
    background: url(hotel1.jpg);
    background-size: cover;
}
#img_slide div:nth-child(2){
    background: url(hotel2.jpg);
    background-size: cover;
}

#img_slide div:nth-child(3){
    background: url(hotel3.jpg);
    background-size: cover;
}

#img_slide div:nth-child(4){
    background: url(hotel4.jpg);
    background-size: cover;
}

#img_slide div:nth-child(5){
    background: url(hotel5.jpg);
    background-size: cover;
}

#black_box img{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-top:-90px;
}
#black_box nav > ul > li{
    display:inline-block;
}

#black_box nav ul li{
color:black;
margin-top:2.5%;
font-size:22px;
font-family: 'Nanum Gothic', sans-serif;
}

nav ul {
    padding: 0;
    list-style: none;
}
nav a {
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-left: 80px;
}
nav li:hover > ul {
    display: block;
}
nav > ul > li > ul {
    display: none;
    position: absolute;
}

nav > ul > li > ul > li {
    display:block;
}
